@using MediatR
@using System.Threading
@using Application
@using Application.SpotifyAuthentication.Requests.GetAuthenticationUri
@using Application.User
@using Domain.Entities


@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IMediator Mediator
@inject ICurrentUserService CurrentUserService

@if (CurrentUserService.IsUserLoggedIn())
{
    <div class="flex flex-row items-center align-baseline rounded-full">
        @_currentUser.Username
    </div>
}
else
{
    <button @onclick="@(LoginAsync)">
        Login
    </button>
}
@code {

    private User _currentUser = User.Empty;

    protected override Task OnInitializedAsync()
    {
        _currentUser = CurrentUserService.GetCurrentUser();

        return base.OnInitializedAsync();
    }

    private async Task LoginAsync()
    {
        var response = await Mediator.Send(new GetAuthenticationUri.Request());

        if (string.IsNullOrEmpty(response.Uri))
            NavigationManager.NavigateTo("/");
        else
            await JsRuntime.InvokeAsync<string>("open", new CancellationToken(), new object?[]
            {
                response.Uri, "_blank"
            });
    }
}
