@inject NavigationManager NavigationManager

<div class="h-16 p-4 rounded-md mx-2 text-lg hover:bg-white hover:text-black" @onclick="@NavigateTo">
    <div class="flex flex-row items-center ">
        @ChildContent
    </div>
</div>

@code {
#nullable enable
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Href { get; set; } = "/";

    private void NavigateTo() =>
        NavigationManager.NavigateTo(Href);

}
