<Button OnClickAction="OnClickAction" Class="@(IsDisabled ? $"{Class} bg-gray-500 text-white p-2" : $"{Class} bg-emerald hover:bg-mediumseagreen text-white p-2")">@ChildContent</Button>

@code {
#nullable enable
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Action OnClickAction { get; set; } = () => { };

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public bool IsDisabled { get; set; } = false;

}