@page "/"
@using Clipify.Application
@using Clipify.Application.Users
@using Clipify.Domain.Entities

@inject ICurrentUserService _currentUser

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>@AccessToken</p>
<p>@RefreshToken</p>

@code
{
    private string AccessToken { get; set; } = string.Empty;
    private string RefreshToken { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        var user = _currentUser.GetCurrentUser();

        AccessToken = user.AccessToken;
        RefreshToken = user.RefreshToken;

        return base.OnInitializedAsync();
    }
}
