@page "/"
@using Clipify.Web.DesignSystem;
@using Clipify.Web.DesignSystem.Icons;
@inject NavigationManager UriHelper

<h1>Hello, world!</h1>

Welcome to your new app.

<MainButton OnClickAction="NavigateToPlaylistPicker">
    <ForkIcon/>
    <span class="ml-2">Forker une playlist</span>
</MainButton>

<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

@code
{

    private void NavigateToPlaylistPicker() =>
        UriHelper.NavigateTo("/fork/playlist-picker");
}
