@page "/"
@using Clipify.Application.Users.Requests
@using MediatR

@inject IMediator _mediator

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@AccessToken</p>
<p>@RefreshToken</p>
<p>@UserId</p>
@code
{
    private string AccessToken { get; set; } = string.Empty;
    private string RefreshToken { get; set; } = string.Empty;
    private string UserId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var user = await _mediator.Send(new GetUser.Request());

        AccessToken = user.AccessToken;
        RefreshToken = user.RefreshToken;
        UserId = user.UserId;
    }
}
