@page "/login"

@using MediatR
@using Microsoft.AspNetCore.SignalR.Client
@using Clipify.Application.Auth.Requests.AuthorizeRequest
@using Clipify.Infrastructure.SpotifyAuth.Hubs
@using System.Threading
@using Clipify.Application.Auth
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IMediator Mediator
<h3>Login</h3>

@code
{
    protected override async Task OnInitializedAsync()
    {

        var response = await Mediator.Send(new Authorization.Request());

        if (string.IsNullOrEmpty(response.Url))
            NavigationManager.NavigateTo("/");
        else
            await JSRuntime.InvokeAsync<string>("open", new CancellationToken(), new[]
            {
                response.Url, "_blank"
            });
    }
}
