@page "/login"

@using MediatR
@using System.Threading
@using Clipify.Application.Auth.Requests.Authorization
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime
@inject IMediator _mediator
<h3>Login</h3>

@code
{
    protected override async Task OnInitializedAsync()
    {

        var response = await _mediator.Send(new Authorization.Request(string.Empty, string.Empty));

        if (string.IsNullOrEmpty(response.Url))
            _navigationManager.NavigateTo("/");
        else
            await _jsRuntime.InvokeAsync<string>("open", new CancellationToken(), new object?[]
            {
                response.Url, "_blank"
            });
    }
}
