@page "/login"

@using MediatR
@using Microsoft.AspNetCore.SignalR.Client
@using Clipify.Application.Auth.Requests.AuthorizeRequest
@using Clipify.Infrastructure.SpotifyAuth.Hubs
@using System.Threading
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IMediator Mediator
@inject AuthHub AuthHub
<h3>Login</h3>

@Token

@code
{
    private string Token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        AuthHub.Connection.On<string>("Broadcast", (token) =>
        {
            Token = token;
            StateHasChanged();
        });

        var uri = await Mediator.Send(new Authorization.Request
        {
            State = await AuthHub.GetConnectionId()
        });

        if (string.IsNullOrEmpty(uri))
            NavigationManager.NavigateTo("/");
        else
            await JSRuntime.InvokeAsync<object>("open", new CancellationToken(), new[] {uri, "_blank"});
    }
}
