@page "/login"

@using MediatR
@using Microsoft.AspNetCore.SignalR.Client
@using Clipify.Application.Auth.Requests.AuthorizeRequest
@using Clipify.Infrastructure.SpotifyAuth.Hubs
@using System.Threading
@using Clipify.Application.Auth
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IMediator Mediator
@inject IAuthHub AuthHub
<h3>Login</h3>

@Token

@code
{
    private string Token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        AuthHub.Connection.On<string>("Broadcast", (token) =>
        {
            Token = token;
            StateHasChanged();
        });

        var response = await Mediator.Send(new Authorization.Request
        {
            State = await AuthHub.GetConnectionId()
        });

        if (string.IsNullOrEmpty(response.Url))
            NavigationManager.NavigateTo("/");
        else
            await JSRuntime.InvokeAsync<string>("open", new CancellationToken(), new[]
            {
                response.Url, "_blank"
            });
    }
}
