@page "/playlists"
@using MediatR
@using Clipify.Application.Playlists.Models
@using Clipify.Application.Playlists.Requests.GetPlaylist

@inject IMediator _mediator

<h3>Playlists</h3>

<div class="container">
    <div class="d-inline-flex flex-row">
        <div class="card shadow rounded bg-white" style="width: 18rem;">
            <img class="card-img-top" src="@_playlists.Images.FirstOrDefault()?.Url" alt=""/>
            <div class="card-body">
                <div class="card-title">@_playlists.Name</div>
                <div class="card-text">@((MarkupString) _playlists.Description)</div>
            </div>
        </div>
    </div>
</div>

@code
{
    private PlaylistViewModel _playlists = new PlaylistViewModel();

    protected override async Task OnInitializedAsync()
    {
        _playlists = await _mediator.Send(new GetPlaylist.Request
        {
            PlaylistId = "37i9dQZF1EIZIgnGqUa6kD"
        });
    }
}
