@page "/profile"

@using Web.Shared.DesignSystem.Icons
@using Application.User
@using Domain.Entities

@inject ICurrentUserService CurrentUserService

<h1 class="mb-4">Profil</h1>

<div class="flex flex-row mb-4">
    <ProfileIcon />
    <h2>@CurrentUserService.GetCurrentUser().Username</h2>
</div>

<div class="flex flex-row mt-4 h-32">
    <ServiceCard Class="flex-1 mx-2" Profile="_currentUser.SpotifyServiceProfile"></ServiceCard>
</div>

@code {
    private UserProfile _currentUser = UserProfile.Empty;

    protected override Task OnInitializedAsync()
    {
        _currentUser = CurrentUserService.GetCurrentUser();

        return base.OnInitializedAsync();
    }
}
