@inherits LayoutComponentBase

<div class="bg-gradient-to-r from-blue-800 to-purple-800 bg-opacity-70 w-64 md:h-screen sticky top-0">
    <NavMenu />
</div>

<div class="flex-1">
    <div class="bg-gray-200 flex-end px-4 sticky top-0">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="pt-1 px-4">
        @Body
    </div>
</div>