@inherits LayoutComponentBase

<div class="mx-12 border-b border-gray-400">
    <div class="flex">
        <NavMenu/>
        <Login />
    </div>
</div>
<div class="my-3 bg-gray-200 p-4">
    @Body
</div>
