<div class="bg-gray-200 bg-opacity-10">
    <a class="p-2 font-medium text-lg block whitespace-nowrap" href="">Clipify.Web</a>
</div>

<div class="mt-3">
    <ul class="flex p-0 m-0 flex-col">
        <li class="px-3">
            <NavLink class="text-sm pb-1 text-gray-300 rounded h-12 flex items-center leading-10 hover:bg-gray-500 hover:bg-opacity-25" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="text-sm pb-1 text-gray-300 rounded h-12 flex items-center leading-10 hover:bg-gray-500 hover:bg-opacity-25" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="playlists">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Playlists
            </NavLink>
        </li>
    </ul>
</div>