<div class="bg-black bg-opacity-25">
    <a class="p-2 font-medium text-lg text-white block whitespace-no-wrap" href="">Clipify.Web</a>
</div>

<div class="mt-3">
    <ul class="flex p-0 m-0 flex-col">
        <li class="px-3">
            <NavLink class="pl-2 text-sm pb-1 text-gray-300 rounded h-12 flex items-center leading-10 hover:bg-gray-500 hover:bg-opacity-25" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="pl-2 text-sm pb-1 text-gray-300 rounded h-12 flex items-center leading-10 hover:bg-gray-500 hover:bg-opacity-25" href="login">
                Login
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="pl-2 text-sm pb-1 text-gray-300 rounded h-12 flex items-center leading-10 hover:bg-gray-500 hover:bg-opacity-25" href="playlists">
                Playlists
            </NavLink>
        </li>
        <li class="px-3">
            <NavLink class="pl-2 text-sm pb-1 text-gray-300 rounded h-12 flex items-center leading-10 hover:bg-gray-500 hover:bg-opacity-25" href="my-playlists">
                My Playlists
            </NavLink>
        </li>
    </ul>
</div>