<div class="flex mt-2 flex-row w-full text-lg border-b border-gray-400">
    <NavLink class="text-gray-600 mr-6 py-2" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="text-gray-600 mr-6 py-2" href="playlists">
        Playlists
    </NavLink>
    <NavLink class="text-gray-600 mr-6 py-2" href="my-playlists">
        My Playlists
    </NavLink>
    <NavLink class="text-gray-600 mr-6 py-2" href="my-forks">
        My Forks
    </NavLink>
    <div class="ml-auto py-2">
        <Login />
    </div>
</div>
