<div class="flex mt-2 flex-row w-full text-lg items-baseline justify-center">
    <NavLink class="text-gray-600 mx-3 pb-3" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="text-gray-600 mx-3 pb-3" href="playlists">
        Playlists
    </NavLink>
    <NavLink class="text-gray-600 mx-3 pb-3" href="my-playlists">
        My Playlists
    </NavLink>
    <NavLink class="text-gray-600 mx-3 pb-3" href="my-forks">
        My Forks
    </NavLink>
</div>
